﻿@model AwSales.Web.Funcionalidades.EditarEmpleado.CambiarDeCargoAlEmpleadoModelo

@{
    ViewBag.Title = "CambiarCargo";
}

<h2>CambiarCargo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CambiarDeCargoAlEmpleadoModelo</h4>
        @Html.HiddenFor(model=>model.EmpleadoId)
        @*@Html.HiddenFor(model => model.CargoSeleccionado)*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CargoSeleccionado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m=> m.CargoSeleccionado, Model.Cargos, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.CargoSeleccionado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
