﻿@model IEnumerable<AwSales.Web.Funcionalidades.ListarPersonas.ListaPersonasViewModel>

<div class="container">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorreoElectronico)
                </td>
                <td>
                    <div class="btn-group">
                        <button class="btn dropdown-toggle btn-xs"
                                data-toggle="dropdown">
                            <span>
                                <i class="glyphicon glyphicon-cog"></i>
                                <span class="caret"></span>
                            </span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                @Ajax.ActionLink(" ", "Editar", "Personas"
                   , new { id = item.Id }
                   , new AjaxOptions
                   {
                       HttpMethod = "Get",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "EditarPersonaForm"
                   }
                   ,
                   new
                   {
                       @class = "glyphicon glyphicon-trash",
                       data_toggle = "modal",
                       data_target = "#EditarPersonaForm"
                   }
                   )
                            </li>
                            <li>
                                @Html.ActionLink(" ", "Ver", new { id = item.Id }, new { @class = "glyphicon glyphicon-eye-open" })
                            </li>

                            <li>
                                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id })


                            </li>

                        </ul>
                    </div>
                    |
                </td>
            </tr>
        }

    </table>
</div>