﻿@model AwSales.Web.Funcionalidades.ListarPersonas.FiltrarPersonasViewModel

<h2>Lista</h2>
<p>
    @Html.ActionLink("Nuevo", "Registrar")
</p>

@*@using (Html.BeginForm("Lista",
                                        "Personas",
                                        null,
                                        FormMethod.Post,
                                        new { @class = "form-inline" }))
    {
        <div class="form-group col-sm-10 col-lg-10 col-xs-10 col-md-10">
            <input type="text" placeholder="Buscar Persona (Ej. Juan)"
                   name="Filtro" value="@Model.Filtro"
                   class="form-control" />
        </div>
        <input type="submit" value="Filtrar..." class="btn btn-success" />
    }*@

@using (Ajax.BeginForm("FiltrarPorNombre", "Personas",
                new AjaxOptions
                {
                    HttpMethod = "Get",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "ResultadoFiltro",

                },
                new
                {
                    id = "FiltrarPersonas",
                    @class = "form-inline"
                }
                ))
{
    <div class="form-group col-sm-10 col-lg-10 col-xs-10 col-md-10">
        <input type="text" placeholder="Buscar Persona (Ej. Juan)"
               name="Filtro" value="@Model.Filtro"
               class="form-control" />
    </div>
    <input type="submit" value="Filtrar..." class="btn btn-success" />
}

<div id="ResultadoFiltro">
    @if (Model.Personas.Count() > 0)
    {
        @Html.Partial("_PersonasEncontradas", Model.Personas)
    }
</div>

<div id="EditarPersonaForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="EditarPersonalabel"
     aria-hidden="true"
     >
</div>

@section Scripts{
    @Scripts.Render("~/bundles/unobtrusiveajax")
}